body, html {
    height: 100%;
    width: 100%;
}

.slider {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid gray;
    border-radius: 10px;
    overflow: visible;
    height: 30px;
    margin: 20px auto;
}

.slider .handle {
    background: white;
    border: darkgreen;
    border-radius: 50%;
    box-shadow: 0 0 3px white;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    cursor: move;
}

.slider .handle:hover, .slider .handle:focus, .slider .handle:active {
    cursor: move;
    box-shadow: 0 0 10px white;
    -webkit-text-select: none;
    -moz-text-select: none;
    -o-text-select: none;
    -ie-text-select: none;
    text-select: none;
}

.prettyprint {
    white-space: pre-wrap !important;
}

.slideselect.h {
    overflow-x: hidden;
}

.slideselect.v {
    overflow-y: hidden;
}

.slideable {
    position: relative;
    width: 10000%;
}

.twobytwo {
    width: 200px;
    height: 200px;
    display: inline-block;
    box-shadow: inset 0 0 5px gray;
    color: white;
    box-sizing: border-box;
    padding-top: .6em;
    text-align: center;
    float: left;
}

.twobytwo:last-child {
    clear: right;
}